/*--------------------
Colors
----------------------*/
$main-color:#5707e1;
$blue: #0000ff;
$blue-dark: #18293c;
$orange:#ffa500;
$green-yellow:#cddc39;
$pink-light:#e798ff;
$cyan-light:#aef1ee;
$white:#fff;
$white-alpha-40:rgba(255, 255, 255, 0.40);
$white-alpha-25:rgba(255, 255, 255, 0.25);
$backdrop-filter-blur: blur(5px);